distribution/*
lib/*
memsql_read_rdd_output.txt/*
project/project/*
project/target/*
tests/target/*
examples/target/*
connectorLib/target/*
connectorLib/src/main/scala/com/memsql/spark/connector/target/*
etlLib/target/*
interface/target/*
jarInspector/target/*
target/*
test_root/*
*.pyc
*~
*.class
*.swp
.idea
.DS_Store
